.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
app.zip

f1040.jpg
f1040.pdf
page.jpg
page1.jpg
page2.jpg
out.jpg

signature_user.png
signature_spouse.png
signature_cpai.png
f1040_signed.pdf
